@{
    ViewBag.Title = "Home Page";
}
<div class="row products">
    <div class="col-lg-4">
        <div class="card">
            <img src="https://dosttech.az/uploads/thumb__c5853-gif.gif" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">HD Televizor 32" Nikura ATV3216</h5>
                <div class="prices">
                    <div class="price">
                        <span>329</span> ₼
                    </div>
                    <div class="discount-price">
                        <span>349</span> ₼
                    </div>
                </div>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Səbətə əlavə et</a>
            </div>
            <div class="label">
                ENDİRİM
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <img src="https://dosttech.az/uploads/thumb__0e03d-gif.gif" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">TCL - 09CHSA/XA21</h5>
                <div class="prices">
                    <div class="price">
                        <span>329</span> ₼
                    </div>
                </div>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Səbətə əlavə et</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <img src="https://dosttech.az/uploads/thumb__2a8f6----------------.gif" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
                <h5 class="card-title">XIAOMI - MI8 LITE DS 64GB BLUE</h5>
                <div class="prices">
                    <div class="price">
                        <span>576</span> ₼
                    </div>
                </div>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Səbətə əlavə et</a>
            </div>
            <div class="label">
                YENİ
            </div>
        </div>
    </div>
</div>